<section id="brands">
    <div class="container brandsContainer">
        <!-- <div class="row justify-content-center">
            <nav class="navOne">
                <ul>
                    <li>HOME</li>
                    <li>BRANDS</li>
                    <li>VIDEOS</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
        </div> -->
        <div>
            <h1>BRANDS</h1>
        </div>
</div>


       
        <div id="grad" class="noVisual"></div>
        <div id="grad2" class="noVisual"></div>
        
        <div class="gallery js-flickity"
            data-flickity-options='{ "wrapAround": true }'>
            <div class="gallery-cell">
                    <div id="business1" class="wrapper">
                        </div>
                        <p class="">
                                Digital Marketing Agency
                        </p>
            </div>
            <div class="gallery-cell">
                    <div id="business2" class="wrapper">
                        </div>
                        <p class="">
                                African Inpired Clothing Brand.
                        </p>
            </div>
            <div class="gallery-cell">
                    <div id="business3" class="wrapper">
                        </div>
                        <p class="">
                                Ethiopian Coffee
                        </p>
            </div>
            
            
        </div>
        

</section>