<footer>
    
</footer>
</div>
<div class="loadWrapper">
        <div class='spinner'>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
            <i>
              <b></b>
            </i>
          </div>
    </div>
    <script src="../mhead-js-master/dist/mhead.js"></script>
<script>

$(window).on("load", function(){
    $(".loadWrapper").fadeOut("slow")
});

$('.main-gallery').flickity({
  // options
  cellAlign: 'left',
  contain: true
});

// mmenu.js
 //	Create the sticky header.
 new Mhead('.header.sticky', {
                // pin: 0,
                // unpin: 0,
                // tolerance: 5
            });

            //	For the demo.
            document.addEventListener('click', (evnt) => {
                if (evnt.target.closest('a[href^="#/"]')) {
                    evnt.preventDefault();
                    // alert("Thank you for clicking, but that's a demo link.");
                }
            });
            
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }

            
</script>


