<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  

  <title>Vacay</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="images/favicon-32x32-2.png">
  
    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../mhead-js-master/dist/mhead.css" />
  <script src="{{ site.baseurl }}/js/main.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/js/script.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/js/index.js"></script>
  <script src="https://cdn.snipcart.com/themes/v3.0.5/default/snipcart.js"></script>
  <meta name="viewport" content="width=device-width" scale= "1.0">

</head>