
<section id="introPage" class="container">

        <!-- <div class="row col-12">
                <nav class="navMini visual">
                        <ul class="row justify-content-center">
                            <li class="col-3 col-md-2">HOME</li>
                            <li class="col-3 col-md-2">BRANDS</li>
                            <li class="col-3 col-md-2">VIDEOS</li>
                            <li class="col-3 col-md-2">CONTACT</li>
                        </ul>
                    </nav>
        </div> -->

        <video id="videoBG" poster="poster.JPG" autoplay muted loop>
                <source src="videos/bg-video-gl.mp4" type="video/mp4">
            </video>
<div class="container">
        <div class="row col-12 justify-content-center">
 <img id="vacayLogo" src="images/vacayLogo-min-full.png" alt="Vacay"/>
</div>
<div class="row col-12">
        <nav class="navOne noVisual">
                <ul class="row justify-content-center">
                    <a href="#" class="col-3 col-md-2"><li>HOME</li></a>
                    <a href="#brands" class="col-3 col-md-2"><li>BRANDS</li></a>
                    <a href="#videos" class="col-3 col-md-2"><li>VIDEOS</li></a>
                    <a href="#contact" class="col-3 col-md-2"><li>CONTACT</li></a>
                </ul>
            </nav>
</div>
</div>
</section>