<div id="page">

    <!-- desktop drop in menu -->

        <div id="newNav" class="container-fluid">
            <div id="" class="row justify-content-center">
                <div class="imgWrapper col-3">
                <img id="navLogo" class="" src="images/vacayLogo-min.png"></img>
                </div>
                <nav>
                    <ul>
                        <a href="#" class="col-3"><li>HOME</li></a>
                        <a href="#brands" class="col-3"><li>BRANDS</li></a>
                        <a href="#videos" class="col-3"><li>VIDEOS</li></a>
                        <a href="#contact" class="col-3"><li>CONTACT</li></a>
                    </ul>
                </nav>
                </div>
            </div>

    <!-- mobile menu    -->

    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">HOME</a>
            <a href="#brands">BRANDS</a>
            <a href="#videos">VIDEOS</a>
            <a href="#contact">CONTACT</a>
    </div>
              
    <div class="header" style="padding-bottom: 0px; text-align:right;">
        <!-- <img src="images/favicon-32x32-2.png" alt="" style="height:20px;"> -->
    </div>

<div class="header sticky container-fluid justify-content-center visual">
    <a style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</a>
     <!-- <a class="col-2">HOME</a>
    <a class="col-2">BRANDS</a>
    <a class="col-2">VIDEOS</a>
    <a class="col-2">CONTACT</a>  -->
    
    
</div>
